.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(120, 200, 240);
  padding: 1%;
}

button {
  padding: 0.5%;
  margin: 0.5%;
  font-size: 90%;
}

button.correct {
  background-color: rgb(83, 202, 83);
  color: black;
}

button.incorrect {
  background-color: rgb(247, 69, 69);
  color: black;
}

.score {
  text-align: left;
  color: rgb(252, 114, 45);
}
